.arduinoIDE/
.gitconfig
.idlerc/
.lesshst
AppData/
OneDrive/
ntuser.dat.LOG1
ntuser.dat.LOG2
Contacts/
Downloads/
Favorites/
Links/
Music/
NTUSER.DAT
NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf
NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms
Saved Games/
Searches/
Videos/
file1.txt
file2.txt
file3.txt
ntuser.ini
source/
Application Data/
Cookies/
Documents/My Music/
Documents/My Pictures/
Documents/My Videos/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Templates/
시작 메뉴/
